*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  background-color: #5f8b4c;
  grid-row: 1 / 3;

  padding: 1rem;
  display: grid;
  gap: 2rem;
}

aside > * > * {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

aside > nav > * {
  margin: 2rem 0 1.5rem 1rem;
}

.svg-logo-container {
  width: 60px;
  height: 60px;
}

.svg-container {
  width: 35px;
  height: 35px;
}

header {
  background-color: #ff9a9a;
  height: 220px;
}

header .header-first-row {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
}

header .header-first-row .search-container {
  display: grid;
  grid-template-columns: 80px 600px;
  align-items: center;
  justify-content: center;
}

header .header-first-row .search-container input {
  border: 1px solid gray;
  border-radius: 20px;
  background-color: lightgray;
  padding: 8px;
  width: 550px;
}

header .header-first-row .profile-container {
  display: grid;
  grid-template-columns: 80px 100px 150px;
  align-content: center;
  justify-content: start;
  justify-items: center;
  align-items: center;
}

header .header-first-row p {
  font-weight: 700;
  font-size: 1.2rem;
}

header .search-icon {
  justify-self: center;
  width: 30px;
}

header .bell-icon {
  width: 30px;
}

header .pfp-container {
  width: 65px;
}

header .pfp-container img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

header .header-second-row {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-top: 2rem;
}

header .big-profile-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-left: 4rem;
}

header .big-name p:first-child {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

header .big-name p:last-child {
  font-weight: 700;
  font-size: 1.5rem;
}

header .big-profile {
  width: 100px;
}

header .big-profile img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

header .header-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

header .header-buttons button {
  padding: 10px;
  width: 100px;
  border-radius: 30px;
  border: 0;
  background-color: #5f8b4c;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #ffddab;
}

main .your-projects {
  margin-top: 1.5rem;
  padding: 1rem;
}

main .announcement {
  grid-column: 2/3;
}

main .trending {
  grid-column: 2/3;
}

main .cards-container {
  margin: 1.5rem 0 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

main .cards-container p {
}

main .cards-container .card {
  height: 200px;
  background-color: beige;
  padding: 1rem;
  border-radius: 10px;
  border-left: 10px solid #945034;
  display: grid;
  grid-template-rows: 30px 100px 1fr;
}

main .cards-container .card .icons-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

main .cards-container .card .icons-container > * {
  width: 30px;
}
